.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    width: 80%;
    background-color: rgb(224, 22, 35);
    margin-left: auto;
    margin-right: auto;
}
.item{
    border: 2px;
    border-radius: 10px;
    background-color: rgb(21, 50, 216);
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p {
    text-align: start;
}

.container {
    display: flex;
    flex-direction: column;
}

.input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}
